 <!DOCTYPE html>

<head>
	<title>Page de connexion</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="static/form.css">
</head>

<body>
    <div class="haut_page">
        <p class="haut_page">
          DAGUET Thomas - EPISEN - ITS 2
        </p> 
        <img src="static/img_avatar2.png" alt="Avatar" class="avatar">     	
        	<form action="/info_user" method="post">
          		<button class = b_up type="submit">Données personnelles</button>
        	</form> 
        	<form action="/" method="post">
          		<button class = b_up type="submit">Deconnexion</button>
        	</form>       
    </div>
    <div class = "bas_page_info">
      <h1>Informations</h1>  
      <p>Bienvenue sur EPISEN, le site de votre centre d'analyse médicales préférée !
        Sur ce site, vous avec accès à tous vos résultats d'analyse que vous avez pu
        faire dans nos laboratoires dans tout le pays. De plus, vous pouvez y
        renseigner toutes les informations vous concernant comme votre nom,
        prénom, age, adresse, taille, poids, etc.</p>
        <p>Ces informations ne seront jamais divulguées à des tiers sans votre
        consentement et seront utilisés pour garder un suivi sur votre santé
        uniquement par notre laboratoire.</p>
        <p>Merci de votre présence !</p>
        <p>L'équipe d'EPISEN.</p>

    </div>      
</body>